.form{
    display: grid;
    grid-template-columns: 450px 190px;
}

.form input{
    padding: 20px 13px;
    font-family: sans-serif;
    font-size: 16px;
}

.form button{
    font-size: 26px;
    color: var(--branco);
    background: var(--vermelho);
    outline: none;
    border: none;

}

.form button:hover{
    background: var(--vermelho-escuro);
    cursor: pointer;
}