/* Componentes */
@import "./header.css";
@import "./main.css";
@import "./sections.css";
@import "./footer.css";
@import "./form.css";

/* Reset CSS */
*{
    margin: 0%;
    padding: 0%;
    border: 0;
    box-sizing: border-box;
    color: white;
    font-family: sans-serif;
}


/* Componentes Globais */
:root{
    --vermelho:#e50914;
    --vermelho-escuro:#f40612;
    --branco:#fff;
    --preto:black;
    --cinza:#757575;
}

img{
    max-width: 100%;
    display: block;
}

.container{
    margin: 0 auto;
    max-width: 1130px;
}

.grid{
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    justify-items: center;
    align-items: center;
}

